body{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.click{
    width:150px;
    border-color: black;
    border-width:1px;
    border-radius: 5px;
    font-size: 15px;
}