body{
    height: 100vh;
    background-color: azure;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.button{
    width:150px;
    height: 50px;
    border-color: black;
    color: black;
    background-color: rgb(141, 204, 255);
    border-width:5px;
    border-radius: 5px;
    font-size: 15px;
}